@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}
.whole-contaienr {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
img {
  width: 600px;
  margin-top: 30px;
}
.container {
  display: flex;
  flex-direction: column;
}
.input-field {
  display: flex;
  gap: 20px;
  align-items: center;
}
input {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid black;
  padding: 20px;
  outline: none;
}

button {
  width: 150px;
  background-color: hsl(223, 87%, 63%);
  color: white;
  border: none;
  height: 40px;
  border-radius: 20px;
}
.icons {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.icons div {
  width: 40px;
  background-color: whitesmoke;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}
i {
  font-size: 30px;
}
.icons div:hover {
  color: white !important   ;
}
.para {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}
@media (max-width: 490px) {
  .input-field {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .para {
    font-size: 30px;
    margin-left: 20px;
  }
  button {
    width: 300px;
    background-color: hsl(223, 87%, 63%);
    color: white;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin: 0;
  }
  #error_message {
    font-size: 12px;
    text-align: center;
    margin: 10px 0;
  }
  img {
    width: 300px;
    margin-bottom: 20px;
  }
  .img {
    display: flex;
    justify-content: center;
  }
}
